################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyFramework/obj
/MyFramework/bin/Debug
/MyFramework.Infrastructure/obj
/MyFramework.Infrastructure/bin/Debug
